.homepage {
   display: grid;
   grid-gap: 20px;
   grid-template-columns: minmax(0px, auto) repeat(3, minmax(auto, 312px)) minmax(0px, auto);
   grid-template-rows: 54px 1fr auto;
   background: #FAFAFA;
}
.timeline {
   grid-column: 2 / 4;
   grid-row: 2 / 4;
}
@media (max-width: 1000px) {
   .timeline {
      grid-column: 2 / 5;
      justify-self: center;
   }
}