.container {
    max-width: 935px;
    margin: 0 auto;
    padding: 0 20px;
}
.content {
    display: grid;
    grid-template-areas: 
    "header header"
    "article aside"
    "article footer";
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 54px 1fr 1fr;
    grid-gap: 15px;
}
